.menu {
  &__icon {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
  }
  &__close {
    font-size: 1.3rem;
    cursor: pointer;
    padding: 2px;
    margin: 5px 0;
    display: inline-flex;
    position: absolute;
    left: 15px;
    top: 10px;
  }
  &__content {
    background-color: rgba($color: #000000, $alpha: 0.7);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    direction: ltr;

    .nav {
      position: relative;
      background-color: #fff;
      width: 400px;
      height: 100%;
      overflow-y: auto;
      color: #000000;
      padding: 40px 10px 10px 10px;
      direction: rtl;

      @include responsive-mobile {
        width: 300px;
      }
      &__item {
        list-style-type: none;
        cursor: pointer;
        padding: 10px 5px;
        font-size: 1.1rem;

        &:not(:last-of-type) {
          border-bottom: 1px solid #eee;
        }
        .dropdown {
          display: none;
          list-style-type: none;
          padding: 10px 20px;

          &--open {
            display: block;
          }
          &__item {
            font-size: 1.05rem;
            padding: 4px 3px;
          }
        }
      }
    }
  }
}
