.checkout {
  &--title {
    margin: 40px;
    text-align: center;
    font-size: 1.7rem;
  }
  &--content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include responsive-desktop {
      padding: 0 20px;
      flex-direction: column-reverse;
    }
  }
  &--summary {
    width: 400px;
    flex-shrink: 0;
    @include responsive-desktop {
      width: 100%;
    }

    ul {
      list-style: none;
      padding: 0 5px 5px 0;
      li {
        position: relative;
        margin: 15px 0;
        .remove {
          margin-left: 10px;
          color: #f44336;
          cursor: pointer;
        }
        .price {
          position: absolute;
          left: 0;
        }
      }
    }
    p {
      margin: 10px 0;
      font-size: 1.2rem;
      position: relative;
      .price {
        position: absolute;
        left: 0;
        color: $darkBlue;
      }
    }
  }
  &--info {
    width: calc(100% - 420px);
    @include responsive-desktop {
      width: 100%;
    }
  }
  .section {
    margin: 30px 0;
    padding: 10px 10px;
    background: #f9f9f9;
    &--title {
      padding: 10px 0;
      border-bottom: 1px solid #eee;
      margin: 0 0 20px 0;
    }
    .form-group {
      label {
        margin-left: 15px;
        white-space: nowrap;
        min-width: 100px;
      }
      input {
        width: 100%;
        &[type="number"] {
          -moz-appearance: textfield;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
    textarea {
      width: 100%;
      min-height: 100px;
      max-height: 120px;
      resize: none;
    }
  }
  button {
    width: 100%;
  }
}
